*.swp
*~
dist
Setup
*.hi
*.o
tags
bustle-pcap.1
cabal-dev/
.cabal-sandbox
cabal.sandbox.config
org.freedesktop.Bustle.appdata.xml
org.freedesktop.Bustle.desktop

/_build
/.stack-work
/.vscode
/.flatpak-builder
